.main-header {
  height: 64px;
  background: #fff;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.14);
  padding: 10px;
  font-family: "Lato";
  font-size: 22.1px;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
}

.main-header > div {
  margin-left: 40px;
}

.main-header__title--name {
  font-weight: 700;
}

.main-header__title--slug {
  font-weight: 300;
}

.main-header > i {
  cursor: pointer;
}

/**
* The filter section 
*/
.filter-header {
  height: 32px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  font-family: "Lato";
  font-size: 13px;
  padding: 0 10px;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
}

.filter-header__title {
  font-weight: 400;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.54);
}

.filter-header__filter-item {
  padding: 0 10px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.54);
}

.filter-header__filter-item--active {
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
}

@media (max-width: 360px) {
  .main-header > div {
    margin-left: 20px;
  }

  .filter-header__title {
    margin-left: 20px;
  }
}
